.servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);


  width: 100%;
  height: 80dvh;

  background: var(--primary-2);

  align-items: center;
  justify-items: center;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 12rem;
  height: 12rem;

  border-radius: 50%;

  background: var(--primary-3);

  position: relative;

  transition: .3s ease-in-out;
}

.icon-item:hover {

  transform: scale(1.1);

  cursor: pointer;

  filter: brightness(2);
}


.icon-item p {
  font-family: 'poppins-bold';
  font-size: 1.8rem;
  color: var(--primary-3);

  text-align: center;

  position: absolute;

  transform: translatey(300%);
}

@media (max-width: 460px) {

  .servicos {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    width: 100%;
    height: 100dvh;
  }

  .icon-item {

    width: 10rem;
    height: 10rem;
  }

  .icon-item img {

    max-width: 50%;
  }

  .icon-item p {
    
    font-size: 1.5rem;

    margin: 3rem 0 0 0;
  }

}

@media (max-width: 421px) {

  .servicos {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    width: 100%;
    height: 100dvh;
  }

  .icon-item {

    width: 10rem;
    height: 10rem;
  }

  .icon-item img {

    max-width: 50%;
  }

  .icon-item p {
    
    font-size: 1.5rem;

    margin: 3rem 0 0 0;
  }

}