.sobre {
  display: flex;

  padding: 94px 84px 94px 0;

  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 60rem;

  background: url(../../../../files/imgs/sobre/escudo.svg) no-repeat;
}

.sobre .texto {
  width: 55%;
}

.sobre .texto h3 {
  text-align: right;
  line-height: 3.5rem;

  color: var(--primary-3);

  font-size: clamp(3rem, 3vw, 5rem);
  
  font-family: 'poppins-bold';
}

.sobre .texto p {
  margin: 3rem 0 0 0;

  text-align: right;
  line-height: 2rem;

  color: var(--primary-3);

  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-family: 'poppins-light';
}

/* Responsividade para telas muito pequenas (largura até 421px) */
@media (max-width: 421px) {

  .sobre {

    padding: 0 23px 0 0px;

    height: 54.1rem;

    background: url(../../../../files/imgs/sobre/escudo-mobile.svg) no-repeat;
  }

  .sobre .texto {
    width: 100%;
    height: 35%;
  }

  .sobre .texto h3 {
    line-height: 2.5rem;
  }

  .sobre .texto p {
   line-height: 1.4rem;
  }

}